@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans       : var(--font-geist-sans);
  --font-mono       : var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.color_blackgray {
  color: #1e1e1e80;
}

body {
  background : #fff;
  font-family: var(--font-poppins);

}



.mxw_1440 {
  width       : 100%;
  max-width   : 1440px;
  margin-left : auto;
  margin-right: auto;
}

.mxw_fullhd {
  width       : 100%;
  max-width   : 1920px;
  margin-left : auto;
  margin-right: auto;
}

.text_color_dark {
  color: #1e1e1ebf;
}

.bg_gradient_width_aqu {
  background: #FFF;
  background: linear-gradient(#fff 0% 10%, #c1dcdc 10% 100%);
}

.bg_aquamarine {
  background-color: #C1DCDC;
}

.bg_aquamarine_hover {
  background-color: #C1DCDC;
  transition      : background-color 0.2s ease;

  &:hover {
    background-color: #97c8c8;
    /* transition   : all 0.2s ease; */
  }

  &[data-active="true"] {
    background-color: #97c8c8;

    &:hover {
      background-color: #C1DCDC;
    }
  }
}

.px96_15 {
  padding-left : clamp(0.9375rem, -2.6786rem + 11.5714vw, 6rem);
  padding-right: clamp(0.9375rem, -2.6786rem + 11.5714vw, 6rem);
}

.ps96_15 {
  padding-left: clamp(0.9375rem, -2.6786rem + 11.5714vw, 6rem);
}

.pe96_15 {
  padding-right: clamp(0.9375rem, -2.6786rem + 11.5714vw, 6rem);
}

/* Скрыть scrollbar, но оставить прокрутку */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE и Edge */
  scrollbar-width   : none;
  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

.fs60_42 {
  font-size: clamp(2.625rem, 1.8214rem + 2.5714vw, 3.75rem);
}

.line-clamp {
  &:hover {
    p {
      display: flex;
    }
  }

  p {
    display           : -webkit-box;
    -webkit-line-clamp: 3;
    /* Количество строк (например, 3) */
    -webkit-box-orient: vertical;
    overflow          : hidden;
    /* Скрыть лишний текст */
  }
}

.abTopCenter {
  position : absolute;
  top      : 0%;
  left     : 50%;
  transform: translate(-50%, 0%);
}

$CardwBr    :20px;
$CardBrColor:#fff;

.catalog_card {
  position: relative;

  &:hover {
    z-index: 50;
    outline: $CardwBr solid $CardBrColor;

    // border: 10px solid #000;
    //  box-shadow: 1px 1px 1px #000;
    .catalog_card_info {
      border    : $CardwBr solid $CardBrColor;
      border-top: 0px;
      width     : calc(100% + $CardwBr*2); // Учти, что border-box может съесть часть ширины

      position      : absolute;
      left          : 50%;
      /* Убираем top: 50% */
      transform     : translateX(-50%);
      /* Центрируем только по X */

      z-index       : 20;
      padding-bottom: 10px;

      /* Если нужно, чтобы он прилип к верху или низу родителя: */
      // top          : 0;
      /* или bottom: 0; */
    }

    .card_header {
      -webkit-line-clamp: none;
      overflow          : visible;
    }
    .card_ux{
      display: flex;
    }
  }

  .card_header {
    display           : -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow          : hidden;
  }

  .card_ux {
    display: none;
  }


}

.hover_center_line {
  position       : relative;
  text-decoration: none;
  color          : #000
}

.hover_center_line:hover {
  color: #000
}

.hover_center_line:before {
  display      : block;
  position     : absolute;
  content      : "";
  height       : 1px;
  border-radius: 10px;
  width        : 0;
  background   : #97c8c8;
  transition   : width .3s ease-in-out, left .3s ease-in-out;
  left         : 50%;
  bottom       : 0
}

.hover_center_line:hover:before,
.hover_center_line[active]:before,
.hover_center_line[datatype="active"]:before {
  width: 100%;
  left : 0
}

@media (max-width:786px) {
  .menu {
    background: #C1DCDC;
    display   : flex;
    position  : relative;
  }

  .monu_container {
    position       : absolute;
    background     : #ffffff;
    top            : 100%;
    height         : 100vh;
    right          : 0;
    z-index        : 99;
    overflow       : hidden;
    display        : flex;
    justify-content: flex-end;
    white-space    : nowrap;
    align-items    : start;
  }



  .menu>.monu_container>ul {
    display       : flex;
    flex-direction: column;
    width         : 100%;
  }
}